@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.drop{
  
  position: absolute;
  left: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;


}





