
.container{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5%;
  border: solid red;
}
.delete-button{
  visibility: hidden;
  display: inline-block;

}

.table-row:hover .delete-button{
  visibility: visible;

}
/* //eger table in uzerine gidersen button visible olur 
  // baska bir elemanin baska bir elemani etkilemesi 
*/

.logo{
  font-size: 300px;
  text-align: center;
}