@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.dropdown-menu{
  position: relative;
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dropdown-item{
  width: 4rem;
  border: ;

}




