@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.dropdown-menu{
  position: relative;
  left: rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
}
.dropdown-item{
  width: fit-content;
  border: solid red;

}




