@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.delete-button {
  visibility: hidden;
  display: inline-block;
}

.table-row:hover .delete-button {
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: 0.7rem;
    
  }
  .delete-button {
    visibility: visible;
    display: inline-block;
    color: ;
  }
}