.delete-button{
  visibility: hidden;
  display: inline-block;

}

.table-row:hover .delete-button{
  visibility: visible;

}
/* //eger table in uzerine gidersen button visible olur 
  // baska bir el
*/