@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.dropdown-menu{
  position: absolute;
  bottom:4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;


}





