@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}
.delete-button {
  visibility: visible;
  display: inline-block;
  color: red;
  background-color: rgba(255, 0, 0, 0.073);
}



.table-row:hover .delete-button {
  visibility: visible;
}

@media screen and (min-width: 480px) {
  .container {
    font-size: 0.7rem;
    font-size:xx-small;

    
  }
 
}
 
@media screen and (min-width: 480px) {
  .container {
    font-size: 1.2rem;
    
  }
 
}

@media screen and (min-width: 480px) {
  .container {
    font-size: 1.4rem;
    
  }
 
}
