@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.dropdown-menu{
  position: absolute;
  bottom:0;
  top: 6rem;
  background-color: red;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;


}





