@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.dropdown-menu{
  position: relative;
  left: 35%;
  right: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  overflow: hidden;
}
.dropdown-item{
  display: flex;
  width: fit-content;
  justify-content: center;
  text-align: center;
  align-items: center;

}




